!!!
%html
  %head
    %title= yield_content :title
    %meta{charset: "utf-8"}
    %meta{content: 'width=device-width, initial-scale: 1.0', name:'viewport'}
    %meta{content: '筑波大学, 情報学群, 知識情報・図書館学類, 図書館メディア研究科, 春日, 大学説明会, オープンキャンパス', property: 'keywords'}
    %meta{content: '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property: 'og:title'}
    %meta{content: 'website', property: 'og:type'}
    %meta{content: '', property: 'og:description'}
    %meta{content: '', property: 'og:url'}
    %meta{content: '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property: 'og:site_name'}
    / %link(href='image/favicon.ico', rel= 'shortcut icon')
    / %link(href='image/apple-touch-icon.png', rel= 'apple-touch-icon')
    = javascript_include_tag  "all"
    = stylesheet_link_tag "all"
    = yield_content :head

  %body
    = Haml::Engine.new(File.read("source/layouts/header.haml")).render
    = yield
    = Haml::Engine.new(File.read("source/layouts/footer.haml")).render